form {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
  }
  
  #search-text-input {
    background: rgba(255, 255, 255, 0.62);
    border: none;
    border-radius: 16px;
    height: 40px;
    margin-right: 8px;
  }
  
  #search-btn {
    color: #3a474e;
    background: rgba(217, 206, 188, 0.5);
    border: none;
    border-radius: 16px;
    padding: 0 16px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: box-shadow 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
      transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
      -webkit-transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  #search-btn:hover {
    box-shadow: none;
    color: rgba(255, 255, 255);
    background: rgba(58, 71, 78, 0.95);
  }
  