#description {
    line-height: 8px;
  }
  
  #date {
    text-align: right;
    margin-top: 4px;
  }
  
  #time {
    text-align: right;
    margin-top: -4px;
  }
  
  .weather-items {
    color: #495464;
    font-size: 20px;
    position: relative;
    padding: 3px;
  }
  
  .weather-result {
    color: #495464;
    font-weight: 600;
    font-size: 24px;
    margin-top: -20px;
  }
  
  .weather-measure {
    color: #495464;
    font-weight: 200;
    font-size: 14px;
  }
  